#logs {
  height: 240px;
  overflow-y: scroll;
  background-color: rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
}

#connected {
  display: none;
  flex-direction: column;
}

#camera-view {
  max-width: 800px;
}

input[type="range"][orient="vertical"] {
  appearance: slider-vertical;
  width: 8px;
  height: 175px;
  padding: 0 5px;
}
