#logs {
  height: 240px;
  overflow-y: scroll;
  background-color: rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
}

#connected {
  display: none;
}

#mouseArea {
  width: 360px;
  height: 240px;
  background-color: black;
}
